

<header>{{t 'Header title'}}</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img alt="Aria getting in the calendar" src="assets/img/calendar-door.gif">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div id="calendar" class="row">
            <!-- Calendar goes here -->
        </div>
        <div class="row text-center m-t-xl">
            <a id="home-link" class="btn btn-info btn-lg btn-block" href=""><h2>←   {{{t 'HomeMenu'}}}</h2></a>
        </div>
    </div>
</section>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{t 'Presentation title'}}</h2>
                <hr class="light"/>
                <p class="text-faded">{{{t 'Presentation'}}}</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{t 'Instructions title'}}</h2>
                <hr class="primary"/>
                <p class="text-muted">{{{t 'Instructions'}}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3 col-xs12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mars text-primary"></i>
                    <h3>{{t 'boy'}}</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-venus text-primary"></i>
                    <h3>{{t 'girl'}}</h3>
                </div>
            </div>
            <div class="col-sm-3 col-xs12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x icon icon-fire text-primary"></i>
                    <h3>{{t 'dragon'}}</h3>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>

<footer>{{t 'Footer'}}</footer>



<div data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div data-remodal-content="main"></div>
</div>
